<body class="renga">

<%= link_to new_walt_path do %>
  <div class="sinki">post</div>
<% end %>


<%= form_tag({controller:"walts",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>

<div class="walts-container">
  <% @walts.each do |t| %>
    <%= link_to walt_path(t.id) do %>
      <div class="toukou">  
      <p><%= image_tag t.image_url, size: "250x200" if t.image? %></p>
      </div>
    <% end %>
  <% end %>
</div>


</body>


