<!DOCTYPE html>
<html>
  <head>
    <title>Landsea</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to walts_top_path do %>
    <h1>Landsea</h1>
  <% end %>
  
<div class="nav">
<input id="drawer_input" class="drawer_hidden" type="checkbox">
<label for="drawer_input" class="drawer_open"><span></span></label>
<nav class="nav_content">
  <ul class="nav_list">
    <li class="nav_item"><%= link_to "口コミへ", walts_path %>
    </li>
    <li class="nav_item"><%= link_to 'ランド', :controller => "walts", :action => "land" %>
    </li>
    <li class="nav_item">  <%= link_to 'シー', :controller => "walts", :action => "sea" %>
    </li>
  </ul>
</nav>
</div>

    <%= yield %>
  </body>
</html>
